# Python virtual environment
.venv/

# Visual Studio Code
.vscode/

# Compiled Python files
__pycache__/

# Local configuration files
instance/

# Environment variables file
.env

# IDE project files
.idea/

# Editor-specific files
*.swp
*~